/* Set a maximum width for the homepage image. */
#pkp_content_main > div > div.homepage_image > img {
	max-width: 400px;
	}
	
/* Center the homepage image. */
#pkp_content_main > div > div.homepage_image > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

/* Add a bit of whitespace to the top of the homepage image. */
#pkp_content_main > div > div.homepage_image > img {
	padding-top: 20px;
	}